* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    /*color: white;*/
    color: #8cbd8e;
    font-family: 'Source Sans Pro', sans-serif;
}
header {
    /*padding-top: 20px;
    border-top: 1px; 
    padding-left: 30px;
    margin-top: 50px;*/
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header div {
text-align: center;
}
header div a {
color: #a2a190;
font-size: 18px;
line-height: 28px;
margin: 0 16px;
text-decoration: none;
}
header div a:hover{
/*color: #a0289b;*/
color:  #c52e92;
transition: color 300ms;
}

#wrapper {
    text-align: center;
    padding: 0px;
}

#wrapper img {
    /*display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;*/

    height: 120px;
    width: 120px;
    object-fit: cover;
    background-image: linear-gradient(220deg, #c52e92, #fa9f4e 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 3px;
    border-radius: 50vh;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
} 

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 1px;
    opacity: 0.8;
}
#wrapper p {
    max-width:  500px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 34px;
    size: 2px;
}


#wrapper p a {
    color: #a2a190;
    transition: color #a0289b;
    text-decoration: underline;
    margin: 1px;
}

#wrapper i {
    text-decoration:underline;
    margin: 0px;
}

#wrapper p a:hover{
    color: #a0289b;;
    transition: color 300ms;
}

.sociais a {
color: #a2a190;
font-size: 18px;
line-height: 28px;
margin: 0 16px;
text-decoration: none;
margin: 1px;
}
.sociais {
    text-align: center;
    margin: 0px;

}

.sociais a:hover{
    color: #a0289b;
    transition: color 300ms;
    }

#sociais-footer a{
    /*text-decoration: underline;*/
    border-bottom: 1px solid #a0289b;
}

.sociais i {
    color: #a0289b;
    
}






/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #374857 /*#7159c1*/;
}

.card__image-container img {
    width: 100%;
}

.card__content,
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
}

.card__price {
    background-color: #374857 /*#22142b*/;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*=== CARDS ===*/


/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7); /*transparente(0.1)*/
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    /*margin-top: 10px;*/
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE == */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}